@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "inter", serif;
}

body, html {
  margin: 0 !important;
  padding: 0 !important;
  height: 100%; /* Ensure the body spans the full viewport height */
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

:root{
  --white: #FFFFFF;
  --black: #1E1E1E;
  --blue: #0056D2;
  --lightGrey: #F3F3F3;
  --darkGrey: #D9D9D9;
  --purple: #7311A0;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 .5rem;
  background-color: var(--white);
  color: var(--black);
}

nav a{
  margin: 0 .5rem;
  color: var(--black);
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

nav a:hover{
  border-bottom: 2px solid black;
  font-weight: 800;
  transition: opacity 0.3s ease;
}

header .nav-btn{
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--black);
  visibility: hidden;
  display: none;
  opacity: 0;
  font-size: 1.8rem;
}

header .nav-churchname{
  font-weight: bold;
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  width: fit-content !important;
  min-width: fit-content !important;
  align-items: center !important;
  width: 200px !important;
}

@media only screen and (max-width: 1024px){
  header .nav-btn{
    visibility: visible;
    display: flex;
    opacity: 1;
  }

  header nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--white);
    transform: translateY(-150vh);
    z-index: 99999;
  }

  header .responsive_nav{
    transform: none;
  }

  nav .nav-close-btn{
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  nav a{
    font-size: 20px;
    height: 0;
  }

  .navbar-minitries{
    font-weight: bold;
  }

  .notLoading-container{
    width: 100vw !important;
  }
  
}

.sub-nav nav{
  display: flex;
  position: absolute;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  background-color: var(--lightGrey);
  top: 100%;
  right: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 10;
  border-radius: 10px;
  gap: .2rem;
  padding: 7px 0px;
}

.navbar-minitries{
  display: inline-flex;
  text-align: center;
  position: relative;
  align-items: center;
}

.sub-nav nav{
  min-width: fit-content;
  min-width: 230px;
  line-height: 20px;
}

.navbar-minitries:hover .sub-nav nav{
  visibility: visible;
  opacity: 1;
}

.navbar-minitries{
  font-weight: bold;
  margin-bottom: -22px;
  font-size: 20px;
  margin-left: 22px;
  margin-right: 22px;
}

.home-church-image{
  width: 100vw;
  height: 100vh;
}

nav a.active-link {
  border-bottom: 2px solid black;
}

.socials-containers{
  display: flex;
  flex-direction: row;
  width: fit-content !important;
  padding-left: 0 !important;
  margin-left: 0 !important;
}

.subnav-invisible{
  visibility:hidden;
  display: none;
}

/* ---Home page styling--- */
@media(min-width: 900px){
  .welcome-to{
    min-width: 900px;
  }
}

.home-pg1-container{
  position: relative;
  display: flex;
  align-items: center;
  overflow: scroll;
}

.home-button-container{
  display:flex;
  margin-top: 40px;
  width: 335px;
  align-items: center;
  justify-content:space-between;
}

.home-pg2-container{
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 30px;
  background-color: var(--darkGrey);
  align-items: center;
}

.home-page-event-container{
  height: auto;
  max-height: 450px;
  width: 100%;
  margin: 30px 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow-x: scroll;
  position: relative;
  padding: 30px;
}

.payment-methods-container{
  height: auto;
  width: 100%;
  margin: 30px 0px;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  padding: 30px;
  position: relative;
  background-color: var(--lightGrey);
}

.home-page-event-placeholder {
  min-width: 300px;
  width: 400px;
  max-width: 40vw;
  height: 400px;
  margin-left: 20px;
  margin-right: 20px;
  position: relative; 
  text-align: start;
  overflow: hidden;
}

.image-container {
  position: relative;
  width: 100%;
  height: 250px;
  max-height: 250px;
  overflow: hidden; 
}

.event-holder-img, .about-us-img, .leader-img {
  height: 100%;
  width: 100%; 
  object-fit: cover;
}

.event-holder-day {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: white;
  padding: 5px 12px;
  border-radius: 5px; 
  z-index: 2;
  font-weight: bold;
  
}

.home-pg3-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0% 10%;
  background-color: var(--lightGrey);
  padding-bottom: 40px;
}

.home-pg3-container-1{
  width: inherit;
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  width: 100%;
  padding: 30px 0px;

}

.about-us-container, .request-container{
  max-width: 500px;
  width: 500px;
  height: 275px ;
  object-fit: cover;
  position: relative;
}



.about-us-text{
  position: absolute;
  top: 50%;
  right: 50%;
  z-index: 2;
  font-weight: bold;
  transform: translate(50%, -50%);
  width: 100% !important;
  display: flex;
  justify-content: center;
}

.request-text{
  position: absolute;
  top: 10%;
  right: 50%;
  z-index: 2; 
  font-weight: bold;
  transform: translate(50%, -10%);
  width: 100%;
  align-items: center;
  text-align: center;
}

.request-button {
  position: absolute;
  bottom: 30px;
  left: 50%; 
  transform: translateX(-50%);
  z-index: 2;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; 
}
.link-containers{
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  text-align: center;
  overflow-y: scroll;
}

.link-container-items{
  font-size: 1.2rem;
  font-weight:400;
  display: flex;
  align-items: center;
  margin: 0.2rem 0; 
}

/*animations for homepage */
.welcome-to, footer > div{
  animation: popUp .7s ease-in forwards;
}


.welcome-to-heim-church{
  opacity: 0;
  animation: popUp .4s ease-in forwards;
  animation-delay: .5s;
}


/* smaller screen*/

@media(max-width: 1024px){

  .subnav-ministries{
      display: none;
  }

  .subnav-invisible{
    visibility: visible;
    display: flex;
  }

  .home-pg3-container{
    padding: 0;
    margin: 0;
  }
  .home-pg3-container-1{
    display: column;
    flex-direction: column;
  }
  .link-containers, .about-us-container{
    margin: 20px;
  }
  .request-container{
    margin: 20px;
  }

  .navbar-minitries{
    margin-top: 10px;
  }
  nav a{
    margin-bottom: 15px;
  }

  .home-pg3-container{
    padding-bottom: 50px;
    padding-top: 20px;
  }

  .home-pg3-container-1{
    padding-bottom: 0px;
    margin-bottom: -30px;
  }

  .request-container{
    width: 300px !important;
    height: 200px !important;
  }

  .request-container > img{
    width: 300px !important;
    height: 200px !important;
  }
  
  .about-us-container{
    max-width:fit-content;
    max-width: 300px !important;
    max-height: 200px !important;
  }

  .footer-text-container{
    justify-content:center !important;
    margin: 20px 0px !important;
    gap: 3rem !important;
    width: 100vw !important;
  }

  .footer-text-container > div{
    width: 180px !important;
    min-width: 180px;
    height: 90px !important;
    min-height: 90px;
  }

  .smaller-footer-text-container {
    display: flex !important;
    flex-wrap: wrap !important; 
    justify-content: center !important; 
    align-items: center !important; 
    text-align: center !important;
    overflow: auto !important;
    height: auto !important; 
    flex-direction: column;
    margin-bottom: 5px !important;
  }
  .smaller-footer-text-container > div{
    display: flex;
    flex-direction: row;
    width: 100% !important;
    justify-content: center;
    padding-bottom: .5rem;
  }

  .smaller-footer-text-container{
    width: 100vw;
    justify-content: center !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  footer{
    height: auto !important;
  }

  .footer-button-container{
    width: 140px !important;
  }

  .smaller-footer-text-container > div > *{
    gap: 1rem;
    width: 140px;
  }

  .home-pg1-container > div > *{
    max-width: fit-content;
    width: fit-content;
    height: auto;
    overflow: hidden;
    font-size: 3.5rem;
    overflow: scroll;
  }

  .footer-socials{
    display: flex !important;
  }


  .footer-socials > div{
    display: flex !important;
    width: 130px !important;
    justify-content: center;
  }

  .welcome-to{
    font-size: 5rem !important;
  }

  .baptizing-page-1{
    display: flex;
    flex-direction: column !important;
    width: 100% !important;
  }

  .baptizing-page-1-text-container{
    width: 100% !important; 
    min-width: 400px;
  }

  .ministry--subcontainer-1{
    display: flex;
    width: 100vw !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important; 
    gap: 2rem;
    height: auto !important;
  }

  .ministry--subcontainer-1 > div{
    width: 100% !important;
  }

  .ministry--subcontainer-1{
    justify-content: center;
    align-items: center !important;
  }

  .ministry--container{
    padding: 2% 0% !important;
  }
  
  .ministry-picture{
    width: 95vw;
    height: auto;
    max-height: max-content !important;
  }
}

.link-container-holder{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-button-container{
  display:flex;
  margin-top: 20px;
  width: 335px;
  align-items: center;
  justify-content:space-between;
  gap: 1rem;
}

/* ---Footer styling--- */

footer {
  width: 100%;
  max-height: 260px;
  background-color: var(--purple);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  color: white;
  margin-bottom: 0;
  padding-bottom: 0;
}

.footer-text-holder{
  width: 200px;
  height: auto;
  padding: 8px 8px;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 2px 2px 1px 1px black;
  
}

.footer-text-container{
  display: flex;
  justify-content:space-evenly;
  width: 800px;
  margin: 20px;
  align-items: center;
  padding: 0px 90px;
}

.smaller-footer-text-container{
  display: flex;
  margin: 20px;
  padding: 0px 90px;
  align-items: center;
  flex-direction: row;
  min-width: 100%;
  justify-content:center;
  margin-left: -.5rem !important;
}

.smaller-footer-text-container > div{
  display: flex;
  align-items: center;
  flex-direction: row;
}
.smaller-footer-text-container > div > *{
  margin: 0px 10px;
}
footer > div{
  height: auto !important;
  padding: 0 !important;
  gap: 0 !important;
  margin: 0 m !important;
}
.all-rights-reserved{
  text-align: center;
  justify-content: center;
  padding-bottom: .35rem;
}

/* ---Offering page--- */
.offering-page, .about-page{
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100vh;
}

.ways-to-give{
  width: 100%;
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: center;
  text-align: center;
  padding: 20px 20px 0px 20px;
}

.payment-methods-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  align-items: center; 
  gap: 1rem; 
  width: 100%; 
  text-align: center;
  overflow: auto; 
}

.payment-method{
  flex: 0 1 300px;
  height: 420px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px; 
  overflow: scroll; 
  text-align: center; 
  justify-content: center;
}

.payment-method > img{
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.payment-logo {
  max-width: 100%;
  object-fit: fill;
  object-position: center;
  max-height: 100px;
  transform: scale(1.5);
  transform-origin: center;
}

.payment-qrcode {
  max-width: 100%;
  max-height: 200px;
  object-fit:cover; 
}

.payment-qrcode-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px !important;
  height: 50% !important;
  padding: 15px 5px 0px 5px;
}

.payment-information-container{
  width: 100%;
  height: 25% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.payment-method p {
  margin: 0.2rem 0; 
  text-align: center; 
  text-overflow: ellipsis; 
}

.payment--button{
  width: 170px;
  height: 60px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: bolder;
  font-size: 2rem;
  text-decoration: underline;
}

.qr-code-error {
  color: #d9534f;
  background-color: #f9d6d5; 
  border: 1px solid #d9534f;
  border-radius: 5px;
  padding: 10px 15px; 
  font-size: 14px;
  font-weight: 600; 
  text-align: center; 
  margin-top: 10px; 
  display: flex; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  width: 100%;
  height: 200px;
  justify-items: center;
  align-items: center;
}

.payment--button:hover {
  transform: scale(1.05); 
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15); 
}

.payment--button:active {
  transform: scale(0.98);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1); 
}

.cashapp:hover {
  color: #00CF31 !important;
  background-color: white !important;
  border: 2px solid #00CF31;
}

.cashapp:active {
  background-color: #1e7e34;
}

.paypal:hover {
  color: #003087 !important;
  background-color: white !important;
  border: 2px solid #003087;
}

.paypal:active {
  background-color: #003087;
}

.venmo:hover {
  color: #008CFF !important;
  background-color: white !important;
  border: 2px solid #008CFF;
}

.venmo:active {
  background-color: #008CFF;
}


/* ---About page--- */

.about-page-container{
  padding: 3% 10%;
  flex: 1;
}

.about-page-welcome, .frequently-ask-questions-title{
  width: 100%;
  background-color: white;
  height: fit-content;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 15px 0px;
  border-radius: 10px;
}

.meet-our-leaders-text{
  width: 100%;
  background-color: #f5f5f5;
  height: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 20px 0;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 10;
}

.meet-our-leaders-container {
  width: 100%;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  gap: 20px;
  overflow: scroll;
}

.meet-our-leaders-container{
  height: 400px;
}

.frequently-asked-questions{
  background-color: white;
  width: 100%;
  border-radius: 10px;
  overflow-x: scroll;
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  height: auto;
  overflow-y: scroll;
}

.womens-frequently-asked-questions{
  margin-top: -50px !important;
}

.meet-our-leaders-container-inside {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 0 10px;
  justify-items: center;
}

.leader-container {
  max-width: 650px;
  min-width: 500px;
  min-height: 260px;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  overflow: scroll;
}

.leader-container-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #333;
}

.leader-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.leader-container-text p {
  font-size: 0.9rem;
  line-height: 1.4;
  margin: 0;
}

.leader-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #e0e0e0;
  margin-bottom: 15px;
  object-fit: cover;
}

.questions-container{
  width: 100%;
} 

.questions-container > div{
    padding: 10px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 0px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
} 

.questions-container > div:last-child{
  padding: 10px;
}


/* ---Live styling--- */

.notLoading-container{
  min-height: 35vh !important;
}

.live-and-upcominglive-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.live-and-upcominglive-container > iframe{
    border-radius: 5px;
}


.upcominglive-container{
  display: flex;
  width: 40%;
  min-width:max-content;
  justify-content: center;
  padding: 1rem 3rem;
}

.upcominglive-container-child, .view-previous-lives{
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  gap: 1rem;
  width: 100%;
  border-radius: 10px;
  align-items: center;
  padding: 10px;
}

.view-previous-lives{
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.video-container {
  width: 300px;
  height: 280px;
  max-width: 100%;
  margin: 0px 10px 10px 0px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #fff;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.video-container:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.video-container > a {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video-image {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
  transition: opacity 0.3s ease;
}

.video-container:hover .video-image {
  opacity: 0.9;
}

.video-title {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  text-align: center;
  word-wrap: break-word;
  border-top: 1px solid #eaeaea;
  width: 100%;
  text-decoration: underline;
  overflow: hidden;
}
.view-previous-lives-videos-container{
  display: flex;
  width: 100%;
  overflow-x: scroll;
  justify-content: space-between;
}

.not-live-container{
  width: 60%;
  min-width: 60%;
  background-color: black;
  height: 35vw;
  min-height: 35vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 3px;
}

.not-live-container > img{
  max-width: 80%;
  max-height: 80%;
  width: auto;
  height: auto;
  min-width:  60%;
  min-height: 40%;
  align-self: center;
  overflow: hidden;
  padding-top: 8%;
  transform: scale(1.7);
}


.not-live-container-text{
  z-index: 10000;
  bottom: 100%;
  align-self:last baseline;
  margin-bottom: 20px;
  margin-right: 20px;
  max-width: 12rem;
  min-width: 100px;
}

.notLoading{
  display: none;
}

/* ---Calendar styling--- */

.heim-church-calendar{
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.heim-calendar-text {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.8rem; 
  color: #333; 
  text-align: center;
  margin-bottom: 20px;
  padding: 20px;
  border-bottom: 2px solid #777; 
}

/* ---Baptizing styling--- */

.baptizing-page {
  font-family: 'Roboto', sans-serif;
  color: #333;
  line-height: 1.6;
  margin: 20px 20%; 
  padding: 20px;
  background-color: #f9f9f9;
}

.baptizing-page-1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 40px;
}

.baptizing-page-1 img {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.baptizing-page-1-text-container {
  max-width: 35%;
  padding: 20px;
  text-align: center;
}

.baptizing-page-1-text-container p {
  font-size: 1rem;
  color: #555;
}

.baptizing-page-headers{
  text-align: center;
  color: #0073e6;
  font-size: 1.5rem;
  margin: 30px 0 10px;
  font-weight: 700;
}

.baptizing-page p {
  text-align: center;
  font-size: 1rem;
  margin: 10px 0;
}

.baptizing-page img {
  display: block;
  max-width: 80%;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.interested-in-baptizing {
  text-align: center;
  font-size: 1.4rem !important;
  font-weight: 500;
  color: #333; 
  margin: 20px auto;
  padding: 15px 20px;
  background-color: var(--darkGrey); 
  border: 1px solid #ddd; 
  border-radius: 8px; 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  line-height: 1.6;
}

.interested-in-baptizing:hover {
  background-color: #e6f2ff;
  color: #003d80;
  text-decoration: underline;
}

/* ---Prayer styling--- */

.prayer--container, .ride--container {
  font-family: 'Roboto', sans-serif;
  color: #333;
  line-height: 1.6;
  margin: 40px auto;
  padding: 20px;
  background-color: rgba(249, 249, 249, 0.8);
  border-radius: 8px;
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-size: cover;
  background-position: center;
}

.prayer--container > form, .ride--container > form {
  display: flex;
  flex-direction: column;
}

.prayer--container > form > label, .ride--container > form > label {
  font-weight: bold;
  margin-top: 20px;
  font-size: 16px;
  color: #333;
}

.regular-input-height {
  height: 35px;
  padding: 5px;
  font-size: 14px;
}

.regular-input-width {
  width: 100%;
  max-width: 400px;
  margin-bottom: 15px;
}

form > input, form > div > input, form > textarea {
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 14px;
  color: #555;
  transition: all 0.3s ease;
}

form > input:focus, form > div > input:focus, form > textarea:focus {
  border-color: #007bff;
  outline: none;
}

form > textarea {
  min-height: 100px;
  max-height: 300px;
  overflow: auto;
  resize: vertical;
}

form > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

form > div > input {
  width: 100%;
}

form > button {
  padding: 12px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

form > button:hover {
  background-color: #0056b3;
}

form > button:active {
  background-color: #004085;
}

/* ---Ministry styling--- */

.ministry--container, .contact--container {
  font-family: 'Roboto', sans-serif;
  color: #333;
  /* line-height: 1.6; */
  margin: 20px auto;
  padding: 10px;
  background-color: rgba(249, 249, 249, 0.8);
  border-radius: 8px;
  max-width: 1400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-size: cover;
  background-position: center;
  padding: 1rem 4rem;
  align-items: center;
}

.contact--container{
  max-width: 50% !important;
  justify-content: center;
  text-align: center;
  padding: 50px 10px !important;
}

.ministry--subcontainer-1{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
}

.ministry--subcontainer-1 > div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 35%;
}
.ministry-paragraphs{
  font-size: 1.4rem;
  padding-top: 10px;
}

.ministry-subcontainer-leaders{
  display: flex;
  justify-content: center;
  align-items: center;
}

.ministry-header-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}

.ministry-header {
  font-size: 2.5rem; 
  color: var(--blue);
  text-align: center;
  font-weight: bold;
  border-bottom: 3.5px solid var(--blue);
  padding-bottom: 0.5rem;
  margin: 0; 
  letter-spacing: 0.05rem;
  line-height: 1.2; 
  font-weight: 700; 
}

/* ---Others page styling--- */

.others--ministry--container {
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #333;
  line-height: 1.6;
  margin: 20px auto;
  padding: 10px;
  background-color: rgba(249, 249, 249, 0.8);
  border-radius: 8px;
  max-width: 1400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem 4rem;
  min-height: 900px;
  padding-top: 40px;
}

/* Header */
.header-text {
  width: 100%;
  text-align: center;
  font-size: 38px;
  margin-bottom: 30px;
  color: #007BFF;
}

/* Introduction Section */
.others-introduction {
  margin-bottom: 40px;
}

.others-introduction-title {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 700;
}

.others-introduction-text {
  font-size: 16px;
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
}

/* FAQ Section */
.faq-section {
  margin-top: 40px;
  padding-bottom: 30px !important;
  padding: 0px 1.5rem;
  margin-bottom: 10px;
}

.faq-title {
  font-size: 22px;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #007BFF;
}

.faq-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.faq-item {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.faq-question {
  font-size: 18px;
  font-weight: bold;
}

.faq-answer {
  font-size: 16px;
  margin-top: 5px;
  color: #555;
}

/* Links */
.faq-answer a {
  color: #007BFF;
  text-decoration: underline;
}

/* ---Contact Us styling--- */

.contact--container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  margin-bottom: 30px;
  min-width: fit-content;
}

.contact-section {
  margin-bottom: 20px;
}

.contact-heading {
  font-size: 24px;
  color: #333;
  margin-bottom: 8px;
}

.contact-info {
  font-size: 18px;
  color: #555;
}

.contact-info a {
  color: #007BFF;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}

/* ---General styling--- */

.home{
  width: 100vw;
  height: 100vh;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.white-text{
  color: var(--white);
}

.black-text{
  color: var(--black);
}

.blue-text{
  color: var(--blue);
}

.white-background{
  background-color: var(--white);
}

.black-background{
  background-color: var(--black);
}

.blue-background{
  background-color: var(--blue);
}

.grey-background{
  background-color: var(--darkGrey);
}

.light-grey-background{
  background-color: var(--lightGrey);
}

.abril-fatface-regular {
  font-family: "Abril Fatface", serif;
  font-style: normal;
}

.size-very-large{
  font-size: 120px;
}

.size-large{
  font-size: 70px;
}

.size-medium{
  font-size: 30px;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight:bolder;
  font-style: normal;
}

.rounded-border{
  border-radius: 12px;
}

.underlined{
  text-decoration: underline;
}

.centered-text{
  text-align: center;
  align-content: center;
  align-items: center;
}

.padding-bottom-10{
  padding-bottom: 10px;
}

.half-opacity{
  opacity: 0.5;
}

.bold{
  font-weight: bolder;
}

.montserrat{
  font-family: "Montserrat", sans-serif;
}

.invisible{
  display: none;
  visibility: hidden;
}

.general-container{
  height: auto;
  display: flex;
  padding: 30px 0px;
  position: relative;
  flex-wrap: wrap;
  justify-content:space-evenly;
  width: 100%;
  gap: 1rem;
}

.text-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 250px;
  max-width: 330px;
  height: 200px;
  min-height: 200px;
  border-radius: 10px;
  padding: 5px;
  overflow-y: scroll;
}

header{
  display: flex;
  align-items: center;
}

nav{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100% !important;
}

.navbar-minitries{
  top: -10px;
  padding-left: .5rem !important;
  margin-left: 0 !important;
  padding-right: .5rem !important;
  margin-right: 0 !important;
}

.button:hover{
  cursor: pointer;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.maximum-height{
  min-height: 100vh;
  flex: 1;
}

/* HTML: <div class="loader"></div> */
.loader {
  color: #000;
  width: 4px;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 19px 0 0 7px, 38px 0 0 3px, 57px 0 0 0;
  transform: translateX(-38px);
  animation: l21 .5s infinite alternate linear;
}

@keyframes l21 {
  50%  {box-shadow: 19px 0 0 3px, 38px 0 0 7px, 57px 0 0 3px}
  100% {box-shadow: 19px 0 0 0  , 38px 0 0 3px, 57px 0 0 7px}
}


.blue-corner{
  border: 2px solid var(--blue);
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes popUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.page{
  flex: 1;
  min-height: 100vh;
}

/* Phone display */
@media(max-width: 600px){
  .welcome-to{
    width: 100vw !important;
    font-size: 4rem !important;
  }

  .welcome-to-heim-church{
    width: 100vw !important;
    font-size: 3rem !important;
  }

  .home-pg1-container{
    width: 100%;
    height: 60% !important;
  }

  .home-page-event-container{
    width: 100vw;
    height: auto !important;
    padding: 20px !important;
    display:flexbox;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    scrollbar-color: rgb(93, 93, 93) var(--darkGrey);
    
  }
  .home-page-event-container::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  
  .home-page-event-container::-webkit-scrollbar-thumb {
    background-color: rgb(93, 93, 93); 
    border-radius: 10px;
  }
  
  .home-page-event-container::-webkit-scrollbar-track {
    background-color: var(--darkGrey);
  }

  .baptizing-page{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 2rem .8rem;
  }

  .baptizing-picture{
    width: 100% !important;
  }

  .live-and-upcominglive-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .live-and-upcominglive-container > div:first-child{
    width: 100vw;
  }

  .full-size-smaller-screen{
    width: 100vw !important;
    height: 36vh !important;
  }

}

.full-size-smaller-screen{
  width: 60vw;
  height: calc(60vw * .562);
}

/* HTML: <div class="loader"></div> */
.loader--2 {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: 
    radial-gradient(farthest-side, black 94%,#0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%,black);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13{ 
  100%{transform: rotate(1turn)}
}

/* HTML: <div class="loader"></div> */
.loader--3 {
  color: white;
  width: fit-content;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 30px;
  padding-bottom: 8px;
  background: linear-gradient(currentColor 0 0) 0 100%/0% 3px no-repeat;
  animation: l2 2s linear infinite;
}
.loader--3:before {
  content:"Loading..."
}

@keyframes l2 {to{background-size: 100% 3px}}

/* HTML: <div class="loading-events"></div> */
.loading-events {
  width: fit-content;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 45px;
  padding: 0 5px 8px 0;
  background: repeating-linear-gradient(90deg,currentColor 0 8%,#0000 0 10%) 200% 100%/200% 5px no-repeat;
  animation: l3 2s steps(6) infinite;
}
.loading-events:before {
  content:"Loading..."
}
@keyframes l3 {to{background-position: 80% 100%}}

/* Language Selector */
.language-selector-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 150px;
  height: auto;
  font-size: 12px;
  margin-left: 1rem;
  border: 1px solid #ccc;
  border-radius: 3px; 
  overflow: hidden; 
}

.english-button, .kreyol-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 0;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease; 
  color: #333; 
  background-color: white; 
  border: none;
}

.english-button {
  border-right: 1px solid #ccc;
}

.selected-language {
  background-color: var(--darkGrey);
  color: #000; 
}

.english-button:hover:not(.selected-language),
.kreyol-button:hover:not(.selected-language) {
  background-color: #eee;
  color: #000; 
}

/* Language Selector <previous code for button>*/

/* .language-selector-container{
  display: grid;
  grid-template-columns: 50% 50%;
  width: 150px;
  height: fit-content;
  font-size: 12px;
  margin-left: 1rem;
}

.english-button,.kreyol-button {
  border-bottom: 1.5px solid black;
  border-top: 1.5px solid black;
  border-right: 1.5px solid black;
  display: flex;
  justify-content: center;
  padding: 7px 0px;
  font-weight: bold;
  cursor: pointer;
}

.english-button{
  border-left: 1.5px solid black;
}



.selected-language{
  background-color: var(--darkGrey);
} */

.droid-serif {
  font-family: "Droid Serif";
}

.open-sans{
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}

.map-container{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(249, 249, 249, 0.8);
  padding: 25px 0px 50px 0px;
}

.contact-headers{
  margin-top: 20px;
}

.special-underline {
  border-bottom: 2px solid var(--blue);
}